<div class="login-wrapper">
    <div class="login-card">
        <div class="form-header">
            <h2>Forgot Password</h2>
            <p>Enter your email to receive reset instructions</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
            <div class="form-group">
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors?.['required']">Email is required</div>
                    <div *ngIf="f['email'].errors?.['email']">Please enter a valid email</div>
                </div>
            </div>
            <button type="submit" class="btn-submit" [disabled]="loading">
                <span *ngIf="loading" class="spinner"></span>
                <span>Send Reset Link</span>
            </button>
            <div class="form-footer">
                <p>Remember your password? <a routerLink="../login" class="signup-link">Sign In</a></p>
            </div>
        </form>
    </div>
</div>